@import "./_custom.scss";

.testimonials {
  background-color: $light-secondary;
  padding: 4rem 0;
  position: relative;

  h2 {
    font-size: 2.5rem;
    color: $secondary-color;
    margin-bottom: 20px;
  }

  .lead {
    color: $dark-secondary;
    margin-bottom: 2rem;
  }

  .testimonial-card {
    background: #fff;
    border-radius: 8px;
    @include card-style(#fff, $secondary-color);
    padding: 2rem;
    text-align: left;
    position: relative;
    margin: 0 auto;
    max-width: 1100px;

    blockquote {
      border-left: 4px solid $primary-color;
      padding-left: 1rem;
      margin-bottom: 1rem;

      p {
        color: $secondary-color;
      }

      footer {
        color: $dark-secondary;
        font-style: italic;
        padding-top: 1rem;
      }
    }

    .rating {
      .star,
      .star-half {
        color: $primary-color;
        font-size: 1.25rem;
        margin-right: 0.25rem;
      }

      .star-half {
        color: $accent-color;
      }
    }
  }

  .btn-primary {
    @include button-style($primary-color, darken($primary-color, 10%), darken($primary-color, 25%));
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
  }

  .carousel-control-prev,
  .carousel-control-next {
    filter: invert(1) brightness(0.5);
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
    z-index: 10;
    margin-top: 5rem;
  }

  @media (max-width: 1150px) {
    .carousel-control-prev,
    .carousel-control-next {
      &.carousel-control-prev {
        left: -3rem;
      }

      &.carousel-control-next {
        right: -3rem;
      }
    }
  }
}
